.back-button {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #ffe1e5;
  color: #fd6569;

  font-size: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition: transform 0.2s ease;
}

.back-button:hover {
  transform: scale(1.08);
}